@* 
@addTagHelper *, <%= namespace %> 
*@
@{
    ViewData["Title"] = "Loving...";
}
<h2>@ViewData["Title"]</h2>
<h3><reverse>@ViewData["Message"]</reverse></h3>

<p markdown>
# Hello #DECODEDConf
## From *markdown* in **ASP.NET Core!!** on Ubuntu via VS Code
</p>